@import url(reset.css);
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-size: 18px;
  font-weight: 500;
  color: #0c3e2e;
  font-family: "Inter", sans-serif;
  /* background-color: rgba(109, 151, 115, 0.2); */
}
.title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
}
.f {
  font-family: "Balsamiq Sans", sans-serif;
  font-family: "Kaisei Decol", serif;
  font-family: "Manrope", sans-serif;
}
/*BLOCK HEADER*/
.header {
  background-image: url(../Imeges/header-bg.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  margin-bottom: 150px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-top {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}
.logo {
}
.logo__img {
}
.menu {
}
.menu__list {
  display: flex;
  gap: 0 30px;
}
.menu__item {
}
.menu__link {
  text-transform: uppercase;
  font-size: 16px;
}
.phone {
  color: #bb8a52;
}
.header-content {
}
.header-content__inner {
  display: flex;
  gap: 0 22px;
  justify-content: space-between;
  align-items: center;
}
.header-content_box {
}
.header-content__text {
  max-width: 510px;
  font-size: 18px;
}
.header-content__text > span {
  color: #cc2e2e;
}
.header__title {
  font-size: 48px;
  font-weight: 700;
  margin: 20px 0 80px;
  max-width: 430px;
}
.header__btn {
  display: inline-block;
  margin-top: 50px;
  background-color: #ffba00;
  padding: 20px 32px;
  font-size: 20px;
}
.header-content__img {
}
.header__text {
  font-size: 24px;
  text-align: center;
  padding: 25px 0;
}
/* BLOCK ABOUT US */
.main {
  /* background: url(../Imeges/background/1.svg) 180px 500px no-repeat,
    url(../Imeges/background/2.svg) 1200px 600px no-repeat; */
}
.aboutus {
  margin-bottom: 150px;
}
.container {
}

.aboutus__inner {
  display: flex;
  gap: 22px;
  align-items: center;
}
.about__inner-img {
}
.about__inner-box {
}
.about__text {
  max-width: 500px;
  margin-bottom: 30px;
}
.about__text span {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #0c3e2e;
}
.about__inner-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
.about__inner-list {
  display: flex;
  gap: 0 30px;
  text-align: center;
  color: #bb8a52;
}
.about__inner-list dt {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 5px;
}

/*BLOCK WHY WE ARE*/
.why {
  margin-bottom: 150px;
}
.why__inner {
  display: flex;
  align-items: center;
  gap: 0 22px;
  font-size: 28px;
}
.why__text {
  max-width: 580px;
  font-size: 28px;
  margin-bottom: 40px;
}
.why__iiner-list {
  list-style: none;
  counter-reset: my-counter;
  padding-left: 10px;
}
.why__innet-item::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  padding-right: 5px;
}
.why__innet-item + .why__innet-item {
  margin-top: 55px;
}
.why__innet-item:nth-child(2),
.why__innet-item:nth-child(5) {
  padding-left: 60px;
}
.why__innet-item:nth-child(3),
.why__innet-item:nth-child(4) {
  padding-left: 90px;
}
/*BLOCK PROJECTS*/
.projects {
  margin-bottom: 130px;
}
.projects__text {
  font-size: 28px;
  max-width: 595px;
  margin-bottom: 50px;
}
.projects__gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.gallery--item {
  grid-area: span 2;
}

.projects__gallery-text {
  text-align: center;
  padding: 20px 0;
}
/*BLOCK SERVICES*/
.services {
  background-color: rgba(109, 151, 115, 0.1);
  padding: 20px 0 40px;
  margin-bottom: 110px;
}
.services__text {
  font-size: 28px;
  font-weight: 600;
  max-width: 585px;
  margin-bottom: 30px;
}
.services__list {
  padding: 0 25px;
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  gap: 20px;
}
.services__item-text {
  padding-top: 20px;
  font-size: 24px;
  /* padding-bottom: 30px; */
}
/*BLOCK PRICES*/
.prices {
  margin-bottom: 150px;
}
.prices__text {
  font-size: 28px;
  margin-bottom: 50px;
  max-width: 730px;
}
.prices__box {
  display: flex;
  gap: 20px;
}
.prices__list {
  border: 2px solid #ffba00;
  padding: 60px 55px 88px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.prices__item-first {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
}
.prices__item {
  font-size: 24px;
  max-width: 442px;
  text-align: left;
  margin-bottom: 10px;
}
.prices__item-sum {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 62px;
  margin-top: auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  height: 94px;
  padding-top: 50px;
}
.prices__item-sum sup {
  vertical-align: super;
  font-size: 15px;
}
.prices__item-btn {
  display: block;
  background-color: #ffba00;
  padding: 20px;
  font-size: 20px;
}
.first-block {
  margin-left: 70px;
}
/*BLOCK WORK*/
.work {
  margin-bottom: 150px;
}
.work__list {
  list-style-type: none;
  counter-reset: my-counter;
  max-width: 1070px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 15px;
}
.work__item {
  font-weight: 600;
  font-size: 28px;
  line-height: 185px;
  padding-left: 64px;
  position: relative;
}
.work__item::before {
  content: counter(my-counter, decimal-leading-zero);
  counter-increment: my-counter;
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-size: 128px;
  letter-spacing: -0.1em;
  color: rgba(109, 151, 115, 0.2);
  position: absolute;
  left: 0;
}
/*BLOCK TEAM*/
.team {
  margin-bottom: 150px;
}
.team__text {
  font-size: 28px;
  margin-bottom: 84px;
}
.team__inner {
}
.team__list {
  display: flex;
  gap: 0 50px;
  justify-content: center;
}
.team__item {
  font-size: 18px;
}
.team__item-img {
  border: 1px solid #ffba00;
  margin-bottom: 10px;
}
.team__item-name {
  text-align: center;
  margin-bottom: 15px;
}
.team__item-descr {
  width: 218px;
}
