@import url(reset.css);
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-size: 18px;
  font-weight: 500;
  color: #0c3e2e;
  font-family: "Inter", sans-serif;
}
.title {
  font-size: 56px;
  font-weight: 600px;
  margin-bottom: 50px;
}
.f {
  font-family: "Balsamiq Sans", sans-serif;
  font-family: "Kaisei Decol", serif;
  font-family: "Manrope", sans-serif;
}
/*BLOCK HEADER*/
.header {
  background-image: url(../Imeges/header-bg.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  margin-bottom: 150px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-top {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}
.logo {
}
.logo__img {
}
.menu {
}
.menu__list {
  display: flex;
  gap: 0 30px;
}
.menu__item {
}
.menu__link {
  text-transform: uppercase;
  font-size: 16px;
}
.phone {
  color: #bb8a52;
}
.header-content {
}
.header-content__inner {
  display: flex;
  gap: 0 22px;
  justify-content: space-between;
  align-items: center;
}
.header-content_box {
}
.header-content__text {
  max-width: 510px;
  font-size: 18px;
}
.header-content__text > span {
  color: #cc2e2e;
}
.header__title {
  font-size: 48px;
  font-weight: 700;
  margin: 20px 0 80px;
  max-width: 430px;
}
.header__btn {
  display: inline-block;
  margin-top: 50px;
  background-color: #ffba00;
  padding: 20px 32px;
  font-size: 20px;
}
.header-content__img {
}
.header__text {
  font-size: 24px;
  text-align: center;
  padding: 25px 0;
}
/* BLOCK ABOUT US */
.main {
}
.aboutus {
  margin-bottom: 150px;
}
.container {
}

.aboutus__inner {
  display: flex;
  gap: 22px;
  align-items: center;
}
.about__inner-img {
}
.about__inner-box {
}
.about__text {
  max-width: 500px;
  margin-bottom: 30px;
}
.about__text span {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #0c3e2e;
}
.about__inner-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
.about__inner-list {
  display: flex;
  gap: 0 30px;
  text-align: center;
  color: #bb8a52;
}
.about__inner-list dt {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 5px;
}

/*BLOCK WHY WE ARE*/
.why {
  margin-bottom: 150px;
}
.why__inner {
  display: flex;
  align-items: center;
  gap: 0 22px;
  font-size: 28px;
}
.why__text {
  max-width: 580px;
  font-size: 28px;
  margin-bottom: 40px;
}
.why__iiner-list {
  list-style: none;
  counter-reset: my-counter;
  padding-left: 10px;
}
.why__innet-item::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  padding-right: 5px;
}
.why__innet-item + .why__innet-item {
  margin-top: 55px;
}
.why__innet-item:nth-child(2),
.why__innet-item:nth-child(5) {
  padding-left: 60px;
}
.why__innet-item:nth-child(3),
.why__innet-item:nth-child(4) {
  padding-left: 90px;
}
